*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}

.dob-container{
width:100%;
height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background:#15b5ea;
}
form{
    display:flex;
    flex-direction:column;
    background:#5f82a0;
    padding:1rem;
    border-radius:1rem;
    gap:1rem;
    box-shadow:5px 5px 2px rgba(0,0,0,0.3)
}
.input-container{
    display: flex;
    flex-direction:column;
    gap:.5rem;
}

h1{
    text-transform:capitalize;
    text-align:center;
}

input{
    /* background:none; */
    padding:10px;
    border-radius:5px;
    border:none;
    outline:none;
}

button{
    padding:5px;
    border-radius:5px;
    border:transparent;
    background:#23a4dc;
}

.main>p{
    
}